body {
	margin: 0px;
	font-family: Nunito Sans, Yeseva One;
	}

*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
}

/* Buttons */

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	outline: 0;
	border: 0;
	border-radius: 2px;
	font-family: Nunito Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.button-special {
	background: rgba(0, 0, 0, 0);
	outline: 0;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	font-family: Nunito Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.header-button {
	padding: 13px 33px;
}

.hero-button {
	height: 51px;
	width: 207px;
	margin: 20px 20px 0px 0px;
}

/*---------*/

.content {
	max-width: 1440px;
	margin: 0 auto;
}

.logo {
	color: #E3B873;
}

.header {
	background: black;
	}

.header-content {
	display: flex;
	justify-content: space-around;
	height: 83px;
	align-items: center;
}

.header-navigation {
	list-style: none;
	display: flex;
}

.header-navigation__item {
	margin-right: 47px;

}

.header-navigation__link {
	text-decoration: none;
	color: white;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	transition: .2s;
}

.header-navigation__link:hover {
	color: #E3B873;
}

.header-phone {
	color: #E3B873;
}

.header-phone:hover {
	color: white;
}

.hero {
	background-image: url(../images/hero.jpg);
	background-size: cover;
	height: 707px;
	position: relative;
}

.hero-title {
	margin: 0;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hero-overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.hero-content {
	position: relative;
	z-index: 1;	
	padding-top: 200px;
	padding-left: 135px; 
}

.contrast {
	color: #E3B873;
}

.hero-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin: 0;
	max-width: 504px;
}

/* Projects */

.projects {
	background-color: black;
	padding-bottom: 407px;
}

.projects-content {
	padding-top: 107px;
}

.projects-slider {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	}

.projects-slider__item {
	margin-left: 60.5px;
	margin-right: 60.5px;
	padding-bottom: 50px;
}

.projects-slider__link {
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	transition: .2s;
	padding-bottom: 9px;
}

.projects-slider__link:hover {
	color: #E3B873;
	text-decoration: none;
	border-bottom: solid 1px #E3B873;
}

.title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}

.projects-title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}

.projects-description {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	}

.projects-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	}

.projects-parametres {
	display: flex;
	}

 .projects-parametres__item {
	margin: 20px 20px 0px 0px;
	
}

.projects-slider-content {
	display: flex;
	max-width: 1170px;
 	margin: auto;
 	justify-content: space-between;
}

.projects-slider-text {
	position: relative;
}

.arrows {
	position: absolute;
 	left: 0;
 	bottom: 0;
}

/*Control*/

.control {
	max-width: 817px;
	margin: 0 auto;
	margin-top: -317px;
	/*position: relative;*/
}

.control-title {
	color: white;
	text-align: center;
	border-bottom: 12px;
}

.control__camera {
	display: flex;
	justify-content: center;
}

.control__camera::before {
	content: "";
	background: #E3B873;
	border-radius: 30px;
	width: 30px;
	height: 1px;
	position: relative; 
	top: 15px;
	right: 10px;
}

.control__camera::after {
	content: "";
	background: #E3B873;
	border-radius: 30px;
	width: 30px;
	height: 1px;
	position: relative; 
	top: 15px;
	left: 10px;
}

.control-video {
	margin-top: 30px;
	margin-bottom: 62px;
	position: relative;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

.control-overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.play {
	content: '';
	position: absolute;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;	
}

.hr {
	color: #E3B873;
	border-radius: 30px;
	width: 30px;
	height: 1px;
	text-align: center; 
	margin: 0 auto;
}

.control-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
	max-width: 681px;
	margin: 0 auto;
	margin-top: 35px;
}

.label {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;	
	color: rgba(54, 54, 54, 0.5);
}

.input {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: black;
	border: 0;
	border-bottom: 1px solid #363636;
	background: #ffffff !important;
	outline: none;
	width: 230px;
	height: 25px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 91px;
	max-width: 770px;
	/*align-items: center;*/
}

.labelInput {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.control-button {
	padding: 20px 75px;
}

.fieldset {
	display: flex;
	justify-content: space-between;	
}

/*чекбокс нагуглил*/

.checkbox-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 163.68%;
	color: #181818;
}

.checkbox {
	margin: 0 auto;
	margin-top: 33px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 16px;
    width: 16px;
    
    border: 1px solid;
    border-radius: 1px;
    border-color: #E3B873;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
	background: #E3B873;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 7px;

    color: white;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.repair {
    margin-top: 75px;
}

.repair-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1236px;
}

.repair-title {
    text-align: center;
    color: black;
}

.repair-logo {
    display: flex;
    justify-content: center;
    margin: 15px 0px 30px;
}

.repair-logo::before {
    content: "";
    width: 30px;
    height: 1px;
    position: relative;
    top: 15px;
    right: 10px;
    background: rgb(227, 184, 115);
    border-radius: 30px;
}

.repair-logo::after {
    content: "";
    width: 30px;
    height: 1px;
    position: relative;
    top: 15px;
    left: 10px;
    background: rgb(227, 184, 115);
    border-radius: 30px;
}

.repair-content {
    display: flex;
    justify-content: space-between;
}

.repair-content-item__img1 {
    background-image: url(../images/redecorating.png);
    min-width: 392px;
    min-height: 421px;
}

.repair-content-item-descript {
    background-color: white;
    max-width: 330px;
    padding-left: 32px;
    padding-top: 25px;
    padding-bottom: 26px;
    box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 20px;
    margin: -98px auto 0px;
}

.repair-descript-title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgb(54, 54, 54);
}

.repair-list {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: rgb(149, 149, 149);
    padding-left: 15px;
}

.repair-button {
    min-width: 228px;
    min-height: 54px;
    margin-top: -26px;
    margin-left: 31px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.repair-content-item__img2 {
    background-image: url(../images/Overhaul.png);
    min-width: 392px;
    min-height: 421px;
}

.repair-content-item__img3 {
    background-image: url(../images/Designer_Repair.png);
    min-width: 392px;
    min-height: 421px;
}