body {
	margin: 0px;
	font-family: Nunito Sans, Yeseva One;
	}

*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
}

/* Buttons */

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	outline: 0;
	border: 0;
	border-radius: 2px;
	font-family: Nunito Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.button-special {
	background: rgba(0, 0, 0, 0);
	outline: 0;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	font-family: Nunito Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.header-button {
	padding: 13px 33px;
}

.hero-button {
	height: 51px;
	width: 207px;
	margin: 20px 20px 0px 0px;
}

/*---------*/

.content {
	max-width: 1440px;
	margin: 0 auto;
}

.logo {
	color: #E3B873;
}

.header {
	background: black;
	}

.header-content {
	display: flex;
	justify-content: space-around;
	height: 83px;
	align-items: center;
}

.header-navigation {
	list-style: none;
	display: flex;
}

.header-navigation__item {
	margin-right: 47px;

}

.header-navigation__link {
	text-decoration: none;
	color: white;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	transition: .2s;
}

.header-navigation__link:hover {
	color: #E3B873;
}

.header-phone {
	color: #E3B873;
}

.header-phone:hover {
	color: white;
}

.hero {
	background-image: url(../images/hero.jpg);
	background-size: cover;
	height: 707px;
	position: relative;
}

.hero-title {
	margin: 0;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hero-overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.hero-content {
	position: relative;
	z-index: 1;	
	padding-top: 200px;
	padding-left: 135px; 
}

.contrast {
	color: #E3B873;
}

.hero-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin: 0;
	max-width: 504px;
}

/* Projects */

.projects {
	background-color: black;
	padding-bottom: 407px;
}

.projects-content {
	padding-top: 107px;
}

.projects-slider {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	}

.projects-slider__item {
	margin-left: 60.5px;
	margin-right: 60.5px;
	padding-bottom: 50px;
}

.projects-slider__link {
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	transition: .2s;
	padding-bottom: 9px;
}

.projects-slider__link:hover {
	color: #E3B873;
	text-decoration: none;
	border-bottom: solid 1px #E3B873;
}

.title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}

.projects-title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}

.projects-description {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	}

.projects-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	}

.projects-parametres {
	display: flex;
	}

 .projects-parametres__item {
	margin: 20px 20px 0px 0px;
	
}

.projects-slider-content {
	display: flex;
	max-width: 1170px;
 	margin: auto;
 	justify-content: space-between;
}

.projects-slider-text {
	position: relative;
}

.arrows {
	position: absolute;
 	left: 0;
 	bottom: 0;
}

/*Control*/

.control {
	max-width: 817px;
	margin: 0 auto;
}

