body {
	margin: 0px;
	font-family: Nunito Sans, Yeseva One;
	}

*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
}

/* Buttons */

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	outline: 0;
	border: 1px solid transparent;
	border-radius: 2px;
	font-family: Nunito Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;

}

.button:hover {
	background: rgba(0, 0, 0, 0);
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	color: #FFFFFF;
}

.header-button {
	padding: 13px 33px;
}

.hero-button {
	height: 51px;
	width: 207px;
	margin: 20px 19px 0px 1px;
}

.hero-button:hover {
	/*margin: 20px 18px 0px 0px;*/
	/*width: 205px;*/
}

/*---------*/

.content {
	max-width: 1440px;
	margin: 0 auto;
}

.logo {
	color: #E3B873;
}

.header {
	background: black;
	}

.header-content {
	display: flex;
	justify-content: space-around;
	height: 83px;
	align-items: center;
}

.header-navigation {
	list-style: none;
	display: flex;
}

.header-navigation__item {
	margin-right: 47px;

}

.header-navigation__link {
	text-decoration: none;
	color: white;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	transition: .2s;
}

.header-navigation__link:hover {
	color: #E3B873;
}

.header-phone {
	color: #E3B873;
}

.header-phone:hover {
	color: white;
}

.hero {
	background-image: url(../images/hero.jpg);
	background-size: cover;
	background-position: center center;
	height: 707px;
	position: relative;
}

.hero-title {
	margin: 0;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hero-overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.hero-content {
	position: relative;
	z-index: 1;	
	padding-top: 200px;
	padding-left: 135px; 
}

.contrast {
	color: #E3B873;
}

.hero-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin: 0;
	max-width: 504px;
}

/* Projects */

.projects {
	background-color: black;
	padding-bottom: 407px;
}

.projects-content {
	padding-top: 107px;
}

.projects-slider {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	}

.projects-slider__item {
	margin-left: 60.5px;
	margin-right: 60.5px;
	padding-bottom: 50px;
}

.projects-slider__link {
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	transition: .2s;
	padding-bottom: 9px;
}

.projects-slider__link:hover {
	color: #E3B873;
	text-decoration: none;
	border-bottom: solid 1px #E3B873;
}

.title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}

.projects-title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}

.projects-description {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	}

.projects-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	}

.projects-parametres {
	display: flex;
	}

 .projects-parametres__item {
	margin: 20px 20px 0px 0px;
	
}

.projects-slider-content {
	display: flex;
	max-width: 1170px;
 	margin: auto;
 	justify-content: space-between;
 	position: relative;
}

.projects-slider-text {
	/*position: relative;*/
	margin: auto;
	width: 100%;	
}

.arrows {
	position: absolute;
 	left: 0;
 	bottom: 0;
}

.projects-image-mobile {
	display: none;
}

/*Control*/

.control {
	margin: 0 auto;
	margin-top: -317px;
	}

.control-title {
	color: white;
	text-align: center;
}

.control__camera {
	display: flex;
	justify-content: center;
}

.control__camera::before {
	content: "";
	background: #E3B873;
	border-radius: 30px;
	width: 30px;
	height: 1px;
	position: relative; 
	top: 15px;
	right: 10px;
}

.control__camera::after {
	content: "";
	background: #E3B873;
	border-radius: 30px;
	width: 30px;
	height: 1px;
	position: relative; 
	top: 15px;
	left: 10px;
}

.control-video {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 62px;
	position: relative;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
	max-width: 817px;
	width: 90%;
}

.control-video__item {
	width: 100%;
}

/*.control-video__item-play {
	max-width: 145px;
	width: 10vw;
}*/

.control-overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.play {
	content: '';
	position: absolute;
	margin: auto;
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0;
  	max-width: 145px;
	width: 10vw;
	min-width: 60px;	
}

.hr {
	color: #E3B873;
	border-radius: 30px;
	width: 30px;
	height: 1px;
	text-align: center; 
	margin: 0 auto;
}

.control-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
	max-width: 681px;
	margin: 0 auto;
	margin-top: 35px;
}

.label {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;	
	color: rgba(54, 54, 54, 0.5);
}

.input {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: black;
	border: 0;
	border-bottom: 1px solid #363636;
	background: #ffffff !important;
	outline: none;
	width: 230px;
	height: 25px;
}

.input::-moz-placeholder {
	color: #363636;
 }
.input::-webkit-input-placeholder {
	color: #363636;
}
.input:-ms-input-placeholder {
	color: #363636;
}
.input::-ms-input-placeholder {
	color: #363636;
}
.input::placeholder {
	color: #363636;
} 

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 91px;
	max-width: 770px;
}

.labelInput {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.control-button {
	padding: 20px 75px;
}

.control-button:hover {
	border: 1px solid #000;
    color: black;
}

.control-button-mobile {
	display: none;
}

.fieldset {
	display: flex;
	justify-content: space-between;	
}

/*чекбокс нагуглил*/

.checkbox-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 163.68%;
	color: #181818;
}

.checkbox {
	margin: 0 auto;
	margin-top: 33px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 16px;
    width: 16px;
    
    border: 1px solid;
    border-radius: 1px;
    border-color: #E3B873;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
	background: #E3B873;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 7px;

    color: white;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.repair {
    margin-top: 75px;
}

.repair-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1236px;
}

.repair-title {
    text-align: center;
    color: black;
}

.repair-logo {
    display: flex;
    justify-content: center;
    margin: 15px 0px 30px;
}

.repair-logo::before {
    content: "";
    width: 30px;
    height: 1px;
    position: relative;
    top: 15px;
    right: 10px;
    background: rgb(227, 184, 115);
    border-radius: 30px;
}

.repair-logo::after {
    content: "";
    width: 30px;
    height: 1px;
    position: relative;
    top: 15px;
    left: 10px;
    background: rgb(227, 184, 115);
    border-radius: 30px;
}

.repair-content {
    display: flex;
    justify-content: space-between;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 100%;
}

.repair-content-item {
	width: 32%;
}

.repair-content-item__img1 {
    background-image: url(../images/redecorating.png);
    background-repeat: no-repeat;
    width: 100%;
    /*min-width: 340px;*/
    min-height: 421px;
}

.repair-content-item-descript {
    background-color: white;
    max-width: 330px;
    padding-left: 32px;
    padding-top: 25px;
    padding-bottom: 26px;
    box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 20px;
    margin: -98px auto 0px;
}

.repair-descript-title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgb(54, 54, 54);
}

.repair-list {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: rgb(149, 149, 149);
    padding-left: 15px;
}

.repair-button {
    max-width: 228px;
    height: 54px;
    width: 100%;
    margin-top: -26px;
    margin-left: 31px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.repair-content-item__img2 {
    background-image: url(../images/Overhaul.png);
    background-repeat: no-repeat;
    width: 100%;
/*    min-width: 340px;
*/    min-height: 421px;
}

.repair-content-item__img3 {
    background-image: url(../images/Designer_Repair.png);
    background-repeat: no-repeat;
    width: 100%;
/*    min-width: 340px;
*/    min-height: 421px;
}
/*
.offer {
	
}*/

.offer-content {
	margin-top: 124px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	position: relative;
	background-image:  url(../images/offer-bg.png);
	background-repeat: no-repeat;
	max-width: 1236px;
}

.features {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin-right: 210px;
	justify-content: space-around;
}

.number {
	background: #E3B873;
	border: 8px solid #FFFFFF;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	border-radius: 30px;
	width: 50px;
	height: 50px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	flex-shrink: 0;
	margin: 15px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.feature-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #363636;

}
 
.features_item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.form-request {
	max-width: 506px;
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	margin-bottom: 40px;
}

.labelInput-request {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0px 50px 50px;
}

.fieldset-request {
	display: flex;
	flex-direction: column;
}

.request-text {
	font-family: Nunito Sans;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: white;
	margin-top: 30px;
	margin-bottom: 40px;
}

.label-request {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.input-request {
	border: 0;
	border-bottom: 1px solid #363636;
	background: #000;
	outline: none;
	width: 408px;
	height: 25px;
	font-family: Nunito Sans;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
}

.input-request::-moz-placeholder {
	color: #fff;
 }
.input-request::-webkit-input-placeholder {
	color: #fff;
}
.input-request:-ms-input-placeholder {
	color: #fff;
}
.input-request::-ms-input-placeholder {
	color: #fff;
}
.input-request::placeholder {
	color: #fff;
} 

.checkbox-request {
	margin: -35px 0px 40px 32px;
}

.checkbox-text-request {
	color: white;
}

.request-button {
	max-width: 210px;
	max-height: 50px;
	padding: 20px;
	margin: 0px 50px 27px 245px;
}

.offer-discount {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: -72px;
	right: 150px;
}

.offer-pig {
	width: 72px;
	height: 72px;
	background: #E3B873;
	box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
	border-radius: 50%;
	position: relative;
	flex-shrink: 0;
}

.offer-pig-img {
	position: absolute;
	top: 25%;
	left: 25%;
}

.offer-discount-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
	margin-left: 25px;
}

.fantasy {
	display: none;
}

.clients-content {
	margin-top: 150px;
	max-width: 1236px;
	min-height: 1015px;
	background: url(../images/clients-bg.png) 0% 100% no-repeat, url(../images/client-bg2.png) 100% 100% no-repeat;	
}

.clients-title {
	color: black;
	text-align: center;
}

.clients-logo {
    display: flex;
    justify-content: center;
    margin: 15px 0px 30px;
}

.clients-logo::before {
    content: "";
    width: 30px;
    height: 1px;
    position: relative;
    top: 15px;
    right: 10px;
    background: rgb(227, 184, 115);
    border-radius: 30px;
}

.clients-logo::after {
    content: "";
    width: 30px;
    height: 1px;
    position: relative;
    top: 15px;
    left: 10px;
    background: rgb(227, 184, 115);
    border-radius: 30px;
}

.clients-text {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
	margin: auto 0;
}

.clients-recommendations {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin: auto 0;
}

.clients-recommendations-item {
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
	padding: 20px;
	width: 376px;
	height: 455px;
	position: relative;
}

.client-name {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #181818;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.name {
	margin-left: 23px;
}

.client-recommend {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 180%;
	color: #959595;
}

.client-repair-feature {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: #E3B873;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
	height: 54px;
	width: 294px;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: -27px;
	left: 0px;
}

.square-text {
	display: flex;
	border-right: solid 1px white;
	height: 100%;
	-ms-align-items: center;
	align-items: center;
	padding-right: 15px;
}

.client-repair-feature-text {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.contacts {
	background: url(../images/contacts-bg.png), linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.contacts-container {
	margin: auto;	
	position: relative;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

}

.conacts-form {
	background: black;
	width: 880px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	margin: 0 auto;
    margin-top: -220px;
}

.contacts-fieldset {
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 35px 0 35px 0;
	margin: auto;
	-ms-align-items: center;
	max-width: 512px;
}

.contacts-text {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.labelInput-contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 50px 0 0;
}

.inputShort {
	width: 230px;
}

.inputLong {
	width: 516px;
}

.labelInput-contacts-namePhone {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.checkbox-contacts {
	margin-bottom: 50px;
}

.contacts-button {
	width: 200px;
	height: 50px;
	padding: 20px;
	margin: auto;
}

.contacts-adress{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.contacts-adress-text {
	font-family: Yeseva One;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
	margin-top: 50px;
	margin-bottom: 25px;
}

.adress-social {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 75px;
	justify-content: space-between;
}

.adress-social-item {
	background: #E3B873;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 45px;
}

.adress-map {
	margin-bottom: 60px;
	overflow:hidden;
    /*padding-bottom:56.25%;*/
    position:relative;
    height: 32vw;
    width: 62%;
}

.adress-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.footer {
	background: black;
}

.footer-content {
	height: 133px;
}

@media screen and (max-width: 1440px) {
/* .header {
  display: none;
 }
 main {
 display: none;
 }
 .hero {
  display: none;
 }
 .projects {
  display: none;
 }*/
/* .control {
  display: none;
 }*/
/* .repair {
  display: none;
 }*/
 .offer {
 	display: none;
 }
/* .fantasy {
 	display: none;
 }*/
 .clients {
 	display: none;
 }
/* .contacts {
  display: none;
 }*/
 .footer {
  display: none;
 }
}

@media screen and (max-width: 1440px) {

	nav {
		display: none;
	}

	.header-button {
		display: none;
	}

	.header-content {
		padding: 0 20px 0;
		justify-content: space-between;
		height: 60px;
	}

	.header-phone {
		color: #fff;
		text-decoration: none;
	}

	.hero-title {
		font-size: 23px;
		line-height: 132.83%;
		margin-bottom: 20px;
	}

	.hero-text {
		font-size: 14px;
		line-height: 135.84%;
	}

	.hero-content {
		padding: 85px 20px 20px;
	}

	.hero {
		height: 476px;
	}

	.hero-button {
		margin: 30px 0px 0px;
		width: 100%;
	}

	/*projects*/
	
	.projects-slider {
		display: none;
	}

	.projects-content {
    	padding-top: 35px;
    	max-width: 90%;
	}

	.projects-image {
		display: none;
	}

	.text-center {
		text-align: center;
	}

	.arrows {
		display: none;
	}

	.title {
		font-size: 22px;
		line-height: 30px;
	}

	.projects-description {
		font-size: 11px;
		line-height: 17px;
		margin: 22px 32px 65px;
	}
	
	.projects-image-mobile {
		display: flex;
		-ms-align-items: center;
		justify-content: center;
		position: relative;
	}

	.projects-image-mobile-left {
		position: absolute;
		top: 45%;
		left: 5%;
	}	
	
	.projects-image-mobile-right {
		position: absolute;
		top: 45%;
		right: 5%;
	}	
	
	.projects-image-mobile__item {
		width: 100%;
	}
	
	.projects-title {
		font-size: 14px;
		line-height: 138.6%;
	}

	.projects-text {
		font-size: 11px;
		line-height: 135.84%;
	}

	.projects-parametres {
		margin-top: 37px;
		justify-content: space-between;
	}

	.projects-parametres__item {
    	margin: 30px 20px 0px 0px;
	}

	.projects {
		padding-bottom: 0px;
	}

	/*control*/

	.control {
		margin: 0 auto;
		background: #000;
	}

	.control-title {
		padding-top: 60px;
		margin-bottom: 15px;
	}

	.control-text {
		font-size: 11px;
		line-height: 19px;
		color: white;
		width: 90%;
	}

	.label {
		color: rgba(255, 255, 255, 0.5);
	}

	.fieldset {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 90%;
		margin: auto;
	}

	.input {
		line-height: 19px;
		background: black !important;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);
		width: 100%;
	}

	.input::-webkit-input-placeholder {
		color: white;
	}

	.input::-moz-placeholder {
		color: white;
	}

	.input:-ms-input-placeholder {
		color: white;
	}

	.input::-ms-input-placeholder {
		color: white;
	}

	.input::placeholder {
		color: white;
	}

	.checkbox-text {
		color: white;
	}

	.form {
		margin-top: 0px;
	}

	.labelInput {
		margin-top: 65px
	}

	.control-button{
		max-width: 90vw;
		display: none;
	}

	.control-button-mobile {
		display: block;
		max-width: 90vw;
		margin: auto;
	    margin-top: 60px;
	    width: 90%;
	    margin-bottom: -25px;	
	}
	/*repair*/
	.repair-content {
		margin: auto;
		width: 90vw;
		flex-direction: column;
		align-items: center;
	}

	.repair-content-item-descript {
		margin: unset;
		margin-top: -140px;
		width: 80%;
	}

	.repair-content-item {
		margin-bottom: 60px;
		max-width: 340px;
		width: 100%;
	}

	.fantasy {
		display: block;
	}
	
	.fantasy-content {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		width: 90%;		
	}

	.fantasy-title {
		text-align: center;
	}

	.fantasy-image {
		margin: auto;
		margin-top: 25px;
		position: relative;
		z-index: 1;
	}

	.fantasy-image__item {
		width: 100%;
		max-width: 340px;
	}

	.contacts {
		background: black;
	}

	.contacts-container {
		margin-top: -121px;		
	}

	.conacts-form {
		margin: 0;
		width: 100%;
		margin-top: 121px;
	}

	.labelInput-contacts-namePhone {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.inputShort,.inputLong,.contacts-button {
		width: 100%;
	}

	.checkbox-contacts {
		margin: 0 0 50px;
	}

	.checkbox label {
		margin-left: -17px;
		margin-top: 20px;
	}

	.contacts-fieldset {
		max-width: none;
		width: 90%;
	}

	.adress-map {
		order: -1;
		margin-bottom: 40px;
		width: 90%;
		height: 68vmin;
	}

	.contacts-adress-text {
		margin: 0;
		font-size: 18px;
		line-height: 138.6%;
		margin-bottom: 25px;
	}

	.adress-social {
		width: 100px;
	}

	.adress-social-item {
		height: 39px;
		width: 39px;
	}

	.play {

	}
}